<div class="admin-login">
  <div class="container-fluid">
    <div class="login-form">
      <h4>Log in into your Admin account</h4>
      <hr>
      <form>
        <div class="form-group">
          <label for="email">Email Address:</label>
          <input 
            type="email" 
            class="form-control" 
            id="adminEmail" 
            placeholder="Enter your registered email address..." 
            ng-model="admin.email" 
            required>
        </div>
        <div class="form-group">
          <label for="email">Password:</label>
          <input 
            type="password" 
            class="form-control" 
            id="adminPassword" 
            placeholder="Password" 
            ng-model="admin.password" 
            required>
        </div>
        <button type="submit" class="btn btn-default" ng-click="adminLogin()">Login</button>
      </form>
    </div>
  </div>
</div>