<div class="admin-dashboard">
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Dashboard <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
        </div>
      </div>
    </div> -->
    <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Page Visits</h3>
          </div>
          <div class="panel-body">
            <div id="morris-area-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Page Visits</h3>
          </div>
          <div class="panel-body">
            <div id="morris-area-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Projects to be filtered</h3>
          </div>
          <div class="panel-body">
            <uib-tabset active="activePill" vertical="true" type="pills">
              <uib-tab index="0" heading="New Projects">
                <ul>
                  <li ng-repeat="newProject in newProjects">
                    <div class="row">
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-3">
                        <p>{{ newProject.foundedBy }}</p>
                      </div>
                      <div class="col-md-5">
                        <p>{{ newProject.excerpt }}</p>
                      </div>
                      <div class="col-md-2">
                        <p>{{ newProject.createdAt }}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </uib-tab>
              <uib-tab index="2" heading="All Projects">
                <ul>
                  <li ng-repeat="project in projects">
                    <div class="row">
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-3">
                        <p>{{ project.foundedBy }}</p>
                      </div>
                      <div class="col-md-5">
                        <p>{{ project.excerpt }}</p>
                      </div>
                      <div class="col-md-2">
                        <p>{{ project.createdAt }}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </uib-tab>
              <uib-tab index="1" heading="Approved Projects">
                <ul>
                  <li ng-repeat="approvedProject in approvedProjects">
                    <div class="row">
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-3">
                        <p>{{ approvedProject.foundedBy }}</p>
                      </div>
                      <div class="col-md-5">
                        <p>{{ approvedProject.excerpt }}</p>
                      </div>
                      <div class="col-md-2">
                        <p>{{ approvedProject.createdAt }}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </uib-tab>
              <uib-tab index="2" heading="Rejected Projects">
                <ul>
                  <li ng-repeat="removedProject in removedProjects">
                    <div class="row">
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-1">
                        
                      </div>
                      <div class="col-md-3">
                        <p>{{ removedProject.foundedBy }}</p>
                      </div>
                      <div class="col-md-5">
                        <p>{{ removedProject.excerpt }}</p>
                      </div>
                      <div class="col-md-2">
                        <p>{{ removedProject.createdAt }}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
      </div>
    </div>
    
    <!-- /.row -->

  </div>
  <!-- /.container-fluid -->
</div>