<div id="category_projects" class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="categories">Categories</a></li>
    <li class="active">{{ category }}</li>
  </ol>
  <div class="col-md-2">
    <div class="user-profile">
      <img src="http://windermerecommunity.com/wp-content/uploads/2014/05/user-avatar.gif" alt="user-default-avatar" />
      <h3>@{{ user.username }}</h3>
      <button type="submit" class="btn btn-default" ng-click="editProfile()">Manage Your Profile</button>
    </div>
    <hr>
    <button type="submit" class="btn btn-default btn-create-project" ng-click="createNewProject()">Create New Project</button>
    <hr>
    <div class="user-project-list">
      <h4>Your Projects</h4>
      
    </div>
  </div>
  <div class="col-md-8 projects-list">
    <div class="page-header">
      <h1>{{ category }}</h1>
    </div>
    <div class="project-content">
      <a class="project-card" ng-repeat="project in projects" ui-sref="project({ projectId: '{{ project._id }}' })">
        <div class="project-card-banner">
          <img ng-src="{{ project.imageURL }}" alt="Project Banner" />
        </div>
        <div class="project-card-wrapper">
          <h3>{{ project.title }}</h3>
          <p class="project-categoryies">
            <span ng-repeat="category in project.categories" class="label label-default">
              {{ category }}
            </span>
          </p>
          <p class="project-excerpt">{{ project.excerpt }}</p>
          <div class="project-card-promoting">
            <button ng-click="likeProject()"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <button ng-click="commentProject()" class="hide"><span class="glyphicon glyphicon-comment"></span></button>
            <button ng-click="shareProject()"><span class="glyphicon glyphicon-share-alt"></span></button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>