<div id="categories_list" class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li class="active">Categories</li>
  </ol>
  <div class="category-list">
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Community'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-globe"></span>
          <h3>Community</h3>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Environment'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-leaf"></span>
          <h3>Environment</h3>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Education'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-education"></span>
          <h3>Education</h3>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Fitness & Health'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-heart"></span>
          <h3>Fitness & Health</h3>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Infrastructure & Facilities'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-road"></span>
          <h3>Infrastructure & Facilities</h3>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Safety'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-warning-sign"></span>
          <h3>Safety</h3>
        </button>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
      <a class="category-card" ui-sref="categoryProjectsList({ category: 'Technology'})">
        <button class="btn btn-danger category-btn">
          <span class="glyphicon glyphicon-compressed"></span>
          <h3>Technology</h3>
        </button>
      </a>
    </div> 
  </div>
</div>