<div id="create_new_project" class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="home" ui-sref-opts="{reload: true}">Home</a></li>
    <li><a ui-sref="projects" ui-sref-opts="{reload: true}">Projects</a></li>
    <li class="active">New Projects</li>
  </ol>
  <div class="page-header">
    <h1>Create New Project <small>* must be filled</small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="projectTitle">Project Title:</label>
          <input 
            type="text" 
            class="form-control" 
            id="ProjectTitle" 
            placeholder="Project Name" 
            ng-model="project.title" 
            required>
        </div>
        <div class="form-group">
          <label for="projectFeaturedImage">Project Featured Image:</label>
          <input 
            type="url" 
            class="form-control" 
            id="ProjectFeaturedImage" 
            ng-model="project.imageURL">
        </div>
        <div class="form-group">
          <label for="projectDesc">Project Description:</label>
          <div text-angular 
            ng-model="project.description" 
            name="editor" 
            ta-text-editor-class="clearfix border-around form-control" 
            ta-html-editor-class="border-around">
          </div>
        </div>
        <div class="form-group">
          <label for="projectExcerpt">Project Excerpt (*Not more than 50 words):</label>
          <input 
            type="text" 
            class="form-control" 
            id="ProjectExcerpt" 
            placeholder="Project Excerpt" 
            ng-model="project.excerpt" 
            required="">
        </div>
        <div class="form-group">
          <label for="projectCategories">Categories:</label>
          <multiple-autocomplete 
            ng-model="project.categories"
            suggestions-arr="categoryList">
          </multiple-autocomplete>
        </div>
        <div class="form-group">
          <label for="projectLocation">Project Location:</label>
          <input  
            type="text" 
            class="form-control"
            ng-model="project.location"
            g-places-autocomplete
          /> 
        </div>
        <div class="form-group">
          <label for="projectStartingDateTime">Project Starting Date & Time:</label>
          <input 
            type="datetime-local" 
            class="form-control" 
            id="ProjectStartingDateTime" 
            ng-model="project.startingDateTime"
            required>
        </div>
        <div class="form-group">
          <label for="projectEndingDateTime">Project Ending Date & Time:</label>
          <input 
            type="datetime-local" 
            class="form-control" 
            id="ProjectEndingDateTime" 
            ng-model="project.endingDateTime">
        </div>
        <div class="form-group">
          <label for="projectManpower">Project Manpower Required (Optional):</label>
          <input 
            type="number" 
            class="form-control" 
            id="projectManpower" 
            ng-model="project.manpower">
        </div>
        <div class="form-group">
          <label for="projectContactEmail">Project Contact Email:</label>
          <input 
            type="email" 
            class="form-control" 
            id="ProjectContactEmail" 
            placeholder="Enter the email address of project founder" 
            ng-model="project.founder.email">
        </div>
        <div class="form-group">
          <label for="projectContactNumber">Project Contact Number:</label>
          <input 
            type="text" 
            class="form-control" 
            id="ProjectContactNumber" 
            placeholder="Enter the contact number of project founder" 
            ng-model="project.founder.phoneNo">
        </div>
        <div class="form-group">
          <label for="projectStatus">Project Current Status:</label>
          <input 
            type="text" 
            class="form-control" 
            id="ProjectStatus" 
            placeholder="Enter the current status of the project (eg. Completed, Launching, Need People!)" 
            ng-model="project.status">
        </div>
        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
      </form>
    </div>
    <div class="col-md-6 new-project-live">
      <div>
        <img ng-src="{{ project.imageURL }}">
      </div>
      <div ta-bind ng-model="project.description"></div>
    </div>
  </div>
</div>