<footer>
  <div class="container footer">
    <div class="row">
      <div class="col-xs-12 col-sm-8 footer-copyright">
        <p>Copyright &copy 2016 city360 - Community Project Crowdsourcing</p>
      </div>
      <div class="col-xs-12 col-sm-4 footer-links">
        <p>
          <a href="/terms-and-conditions">Terms & Conditions</a> | 
          <a href="/privacy-policy">Privacy Policy</a> | 
          <a href="/sitemap">Sitemap</a>
        </p>
      </div>
    </div>
  </div>
</footer>