<footer>
  <div class="container footer footer-admin">
    <div class="row">
      <div class="col-md-12 footer-copyright">
        <p>Copyright &copy 2016 city360 - Community Project Crowdsourcing</p>
      </div>
    </div>
  </div>
</footer>