<div class="home-bar text-center">
  <div class="container">
    <img src="img/city360-logo-dark.png" alt="city360 Logo">
    <div class="user-wrapper">
      <a class="btn btn-default login-btn" data-toggle="modal" data-target="#loginModal" ng-hide="user.loggedIn==true" ng-show="user.loggedIn==false">Login</a>
      <div class="dropdown welcome-user" ng-hide="user.loggedIn==false" ng-show="user.loggedIn==true">
        <button class="btn btn-default dropdown-toggle" type="button" id="logout-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <p>Hi! {{ user.name }}</p>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="logout-dropdown">
          <li><button type="button" ng-click="userLogout()">Log out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="header-home" class="jumbotron home-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <p><img src="img/city360-logo-dark.png" alt="city360 Logo"></p>
        <h1>Community Project Crowdsourcing Platform</h1>
        <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpModal" role="button">Register now</a>
      </div>
    </div>
  </div>
</div>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Log in into your account</h4>
        <hr>
        <form>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input 
              type="email" 
              class="form-control" 
              id="userEmail" 
              placeholder="Enter your registered email address..." 
              ng-model="user.email" 
              required>
          </div>
          <div class="form-group">
            <label for="email">Password:</label>
            <input 
              type="password" 
              class="form-control" 
              id="userPassword" 
              placeholder="Password" 
              ng-model="user.password" 
              required>
          </div>
          <button type="submit" class="btn btn-default" ng-click="userLogin()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>