<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true}">
        <img src="img/city360-icon-dark.png" alt="city360 Logo" />
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home" ui-sref-opts="{reload: true}">Home</a></li>
        <li><a ui-sref="projects" ui-sref-opts="{reload: true}">Projects</a></li>
        <li><a ui-sref="categories" ui-sref-opts="{reload: true}">Categories</a></li>
      </ul>
      <a class="btn btn-default login-btn" data-toggle="modal" data-target="#loginModal" ng-hide="user.loggedIn==true" ng-show="user.loggedIn==false">Login</a>
      <div class="dropdown welcome-user" ng-hide="user.loggedIn==false" ng-show="user.loggedIn==true">
        <button class="btn btn-default dropdown-toggle" type="button" id="logout-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <p>Hi! {{ user.name }}</p>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="logout-dropdown">
          <li><button type="button" ng-click="userLogout()">Log out</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Log in into your account</h4>
        <hr>
        <form>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input 
              type="email" 
              class="form-control" 
              id="userEmail" 
              placeholder="Enter your registered email address..." 
              ng-model="user.email" 
              required>
          </div>
          <div class="form-group">
            <label for="email">Password:</label>
            <input 
              type="password" 
              class="form-control" 
              id="userPassword" 
              placeholder="Password" 
              ng-model="user.password" 
              required>
          </div>
          <button type="submit" class="btn btn-default" ng-click="userLogin()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>