<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-admin" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sidebar-collapse">
    </button>
    <a class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true}">
      <img src="img/city360-logo-dark.png" alt="city360 Logo" />
    </a>
  </div>
  <ul class="nav navbar-top">
    <li class="user-admin dropdown">
      <a href class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
        {{ admin.name }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
            Profile
          </a>
        </li>
        <li>
          <a href>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
            Inbox
          </a>
        </li>
        <li>
          <a href>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Settings
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href ng-click="adminLogout()">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            Log Out
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-sidebar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="active">
        <a href="index.html">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Dashboard
        </a>
      </li>
      <li>
        <a href="projects.html">
          <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
          Projects
        </a>
      </li>
      <li>
        <a href="tables.html">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
          Analytics
        </a>
      </li>
      <!-- <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
          <li>
            <a href="#">Dropdown Item</a>
          </li>
          <li>
            <a href="#">Dropdown Item</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>