<div id="homepage" class="home-content">
  <nav class="navbar navbar-default home-navbar">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true}">
          <img src="img/city360-icon-dark.png" alt="city360 Logo" />
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a ui-sref="home" ui-sref-opts="{reload: true}">Home</a></li>
          <li><a ui-sref="projects" ui-sref-opts="{reload: true}">Projects</a></li>
          <li><a ui-sref="categories" ui-sref-opts="{reload: true}">Categories</a></li>
        </ul>
        <form class="search-form">
            <div class="form-group has-feedback">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Log in into your account</h4>
          <hr>
          <form>
            <div class="form-group">
              <label for="email">Email Address:</label>
              <input 
                type="email" 
                class="form-control" 
                id="userEmail" 
                placeholder="Enter your registered email address..." 
                ng-model="user.email" 
                required>
            </div>
            <div class="form-group">
              <label for="email">Password:</label>
              <input 
                type="password" 
                class="form-control" 
                id="userPassword" 
                placeholder="Password" 
                ng-model="user.password" 
                required>
            </div>
            <button type="submit" class="btn btn-default" ng-click="userLogin()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-header">
      Popular Projects
    </div>
    <div class="row home-new-project">
      <div class="col-md-12 text-center" ng-show="!popularProject1" ng-hide="popularProject1">
        <h2>No Project In The Database Yet!</h2>
      </div>
      <div class="col-md-8" ng-show="popularProject1" ng-hide="!popularProject1">
        <a ui-sref="project({ projectId: '{{ popularProject1._id }}' })" ui-sref-opts="{reload: true}">
          <div class="jumbotron project-wrapper primary-project-wrapper" ng-style="{'background-image': 'url(' + popularProject1.imageURL + ')'}">
            <div class="project-content">
              <h3 class="project-title">{{ popularProject1.title }}</h3>
              <p class="project-desc">{{ popularProject1.excerpt }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4" ng-show="popularProject2" ng-hide="!popularProject2">
        <a ui-sref="project({ projectId: '{{ popularProject2._id }}' })" ui-sref-opts="{reload: true}">
          <div class="jumbotron project-wrapper secondary-project-wrapper" ng-style="{'background-image': 'url(' + popularProject2.imageURL + ')'}">
            <div class="project-content">
              <h3 class="project-title">{{ popularProject2.title }}</h3>
              <p class="project-desc">{{ popularProject2.excerpt }}</p>
            </div>
          </div>
        </a> 
        <a ui-sref="project({ projectId: '{{ popularProject3._id }}' })" ui-sref-opts="{reload: true}" ng-show="popularProject3" ng-hide="!popularProject3">
          <div class="jumbotron project-wrapper secondary-project-wrapper" ng-style="{'background-image': 'url(' + popularProject3.imageURL + ')'}">
            <div class="project-content">
              <h3 class="project-title">{{ popularProject3.title }}</h3>
              <p class="project-desc">{{ popularProject3.excerpt }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div> 

  <div class="container">
    <div class="content-header">
      Latest Projects
    </div>
    <div class="row home-new-project">
      <div class="col-md-12 text-center" ng-show="!latestProject1" ng-hide="latestProject1">
        <h2>No Project In The Database Yet!</h2>
      </div>
      <div class="col-md-8" ng-show="latestProject1" ng-hide="!latestProject1">
        <a ui-sref="project({ projectId: '{{ latestProject1._id }}' })" ui-sref-opts="{reload: true}">
          <div class="jumbotron project-wrapper primary-project-wrapper" ng-style="{'background-image': 'url(' + latestProject1.imageURL + ')'}">
            <div class="project-content">
              <h3 class="project-title">{{ latestProject1.title }}</h3>
              <p class="project-desc">{{ latestProject1.excerpt }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4" ng-show="latestProject2" ng-hide="!latestProject2">
        <a ui-sref="project({ projectId: '{{ latestProject2._id }}' })" ui-sref-opts="{reload: true}">
          <div class="jumbotron project-wrapper secondary-project-wrapper" ng-style="{'background-image': 'url(' + latestProject2.imageURL + ')'}">
            <div class="project-content">
              <h3 class="project-title">{{ latestProject2.title }}</h3>
              <p class="project-desc">{{ latestProject2.excerpt }}</p>
            </div>
          </div>
        </a>
        <a ui-sref="project({ projectId: '{{ latestProject3._id }}' })" ui-sref-opts="{reload: true}" ng-show="latestProject3" ng-hide="!latestProject3">
          <div class="jumbotron project-wrapper secondary-project-wrapper" ng-style="{'background-image': 'url(' + latestProject3.imageURL + ')'}">
            <div class="project-content">
              <h3 class="project-title">{{ latestProject3.title }}</h3>
              <p class="project-desc">{{ latestProject3.excerpt }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div> 
</div>
<div id="signUpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Create an account with us</h4>
        <hr>
        <form>
          <div class="form-group">
            <label for="name">Full Name:</label>
            <input 
              type="text" 
              class="form-control" 
              id="userNam" 
              placeholder="Enter your first name..." 
              ng-model="user.name" 
              required>
          </div>
          <div class="form-group">
            <label for="name">Username:</label>
            <input 
              type="text" 
              class="form-control" 
              id="userNam" 
              placeholder="Enter your first name..." 
              ng-model="user.username" 
              required>
          </div>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input 
              type="email" 
              class="form-control" 
              id="userEmail" 
              placeholder="Enter your registered email address..." 
              ng-model="user.email" 
              required>
          </div>
          <div class="form-group">
            <label for="email">Password:</label>
            <input 
              type="password" 
              class="form-control" 
              id="userPassword" 
              placeholder="Password" 
              ng-model="user.password" 
              required>
          </div>
          <button type="submit" class="btn btn-default" ng-click="signUp()">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

    var navigation = $('.home-navbar');
    var origOffsetY = navigation.offset().top;

    function scroll() {
      if ($(window).scrollTop() >= origOffsetY) {
        $('.home-navbar').addClass('navbar-fixed-top');
        $('.home-content').addClass('navbar-padding');
      } else {
        $('.home-navbar').removeClass('navbar-fixed-top');
        $('.home-content').removeClass('navbar-padding');
      }
    }

    document.onscroll = scroll;
});
</script>