<div id="projects_list" class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="home" ui-sref-opts="{ reload: true }">Home</a></li>
    <li class="active">Projects</li>
  </ol>
  <div class="col-md-2">
    <div class="user-profile">
      <img src="http://windermerecommunity.com/wp-content/uploads/2014/05/user-avatar.gif" alt="user-default-avatar" />
      <h3>@{{ user.username }}</h3>
      <button type="submit" class="btn btn-default" ng-click="editProfile()">Manage Your Profile</button>
    </div>
    <hr>
    <button type="submit" class="btn btn-default btn-create-project" ng-click="createNewProject()">Create New Project</button>
    <hr>
    <div class="user-project-list">
      <h4>Your Projects</h4>
      
    </div>
  </div>
  <div class="col-md-8 projects-list">
    <div class="project-content">
      <div class="project-card" ng-repeat="project in projects">
        <a class="project-card-banner" ui-sref="project({ projectId: '{{ project._id }}' })" ui-sref-opts="{reload: true}">
          <img ng-src="{{ project.imageURL }}" alt="Project Banner" />
        </a>
        <div class="project-card-wrapper">
          <h3>{{ project.title }}</h3>
          <p class="project-categoryies">
            <span ng-repeat="category in project.categories" class="label label-default">
              {{ category }}
            </span>
          </p>
          <p class="project-excerpt">{{ project.excerpt }}
            <a ui-sref="project({ projectId: '{{ project._id }}' })" ui-sref-opts="{reload: true}"> Read More...</a>
          </p>
          <div class="project-card-promoting">
            <button ng-click="likeProject()">Like <span class="glyphicon glyphicon-thumbs-up"></span></button>
            <button ng-click="commentProject()">Comment <span class="glyphicon glyphicon-comment"></span></button>
            <a href socialshare socialshare-provider="facebook" socialshare-text="{{ project.title }}" socialshare-description="{{ project.excerpt }}" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
              <span class="fa fa-facebook-square"></span>
            </a>
            <a href socialshare socialshare-provider="twitter" socialshare-text="{{ project.title }} - {{ project.excerpt }}" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
              <span class="fa fa-twitter-square"></span>
            </a>
            <a href socialshare socialshare-provider="linkedin" socialshare-text="{{ project.title }}" socialshare-description="{{ project.excerpt }}" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
              <span class="fa fa-linkedin-square"></span>
            </a>
            <a href socialshare socialshare-provider="google" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id }}">
              <span class="fa fa-google-plus-square"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>