<div id="project" class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="home" ui-sref-opts="{reload: true}">Home</a></li>
    <li><a ui-sref="projects" ui-sref-opts="{reload: true}">Projects</a></li>
    <li class="active">{{ project.title }}</li>
  </ol>
  <div class="row">
    <div class="col-md-2">
      <div class="user-profile">
        <img src="http://windermerecommunity.com/wp-content/uploads/2014/05/user-avatar.gif" alt="user-default-avatar" />
        <h3>@{{ user.username }}</h3>
        <button type="submit" class="btn btn-default" ng-click="editProfile()">Manage Your Profile</button>
      </div>
      <hr>
      <button type="submit" class="btn btn-default" ng-click="createNewProject()">Create New Project</button>
      <hr>
      <div class="user-project-list">
        <h4>Your Projects</h4>
        
      </div>
    </div>
    <div class="col-md-7">
      <div class="jumbotron project-banner" style="background-image: url('{{ project.imageURL }}');"></div>
      <div class="page-header">
        <h1>{{ project.title }}<small>  Pax required: {{ project.noOfPax }}</small></h1>
      </div>
      <p class="project-desc" ta-bind ng-model="project.description">
      </p>
      <div class="interact-project project-card-promoting">
        <button ng-click="likeProject()">Like <span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button ng-click="joinProject()">Join Project <span class="glyphicon glyphicon-plus"></span></button>
        <a href socialshare socialshare-provider="facebook" socialshare-text="{{ project.title }}" socialshare-description="{{ project.excerpt }}" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
          <span class="fa fa-facebook-square"></span>
        </a>
        <a href socialshare socialshare-provider="twitter" socialshare-text="{{ project.title }} - {{ project.excerpt }}" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
          <span class="fa fa-twitter-square"></span>
        </a>
        <a href socialshare socialshare-provider="linkedin" socialshare-text="{{ project.title }}" socialshare-description="{{ project.excerpt }}" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
          <span class="fa fa-linkedin-square"></span>
        </a>
        <a href socialshare socialshare-provider="google" socialshare-url="https://city360.herokuapp.com/#/project/{{ project._id}}">
          <span class="fa fa-google-plus-square"></span>
        </a>
      </div>
      <hr>
      <div class="comment-list" ng-show="comments">
        <a class="comment-item" ng-repeat="comment in comments">
          <div class="comment-avatar">
            <img src="" alt="avatar" width="30%"/>
          </div>
          <div class="comment-details">
            <h4 class="comment-username">{{ comment.userId }}</h4>
            <p class="comment-desc">{{ comment.text }}</p>
          </div>
        </a>
      </div>
      <div class="project-card-comment-list">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type a comment..." aria-describedby="commentInput-addon" ng-model="project.comment.text">
          <span class="input-group-addon" id="commentInput-addon">
            <a href="" ng-click="submitComment()" class="submit-comment">
              <span class="glyphicon glyphicon-send"></span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="founder-details">
        <div class="page-header">
          <h3>Founder's Information</h3>
        </div>
        <div class="founder-avatar">
          <img src="https://city360.herokuapp.com/img/default-avatar.png" alt="Founder Avatar Picture" />
        </div>
        <h4>{{ project.foundedBy }}</h4>
        <hr>
        <p><span></span>{{ project.contactEmail }}</p>
        <p><span></span>{{ project.contactNo }}</p>
        <hr>
        <div ng-hide="user.ownProject==false" ng-show="user.ownProject==true"><a class="btn btn-default" ui-sref="editProject({ projectId: '{{ project._id }}' })" ui-sref-opts="{reload: true}">Edit Project</a></div>
      </div>
    </div>
  </div>
</div>