<div id="user_profile" class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="home" ui-sref-opts="{reload: true}">Home</a></li>
    <li class="active">Manage Your Profile</li>
  </ol>
</div>