h1,
h2,
h3,
h4,
h5{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
p{
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
}
a:focus,
button:focus,
button:visited{
  outline: none !important;
}
a:hover{
  text-decoration: none;
}
/*----- Navigation bar -----*/
.navbar{
  background-color: #1098F7;
  border: none;
  /*box-shadow: 1px 1px 3px #000;*/
}
.navbar .navbar-brand{
  height: 80px;
  margin-right: 20px;
  padding: 20px;
}
.navbar .navbar-brand img{
  height: 100%;
  width: auto;
}
#navbar .navbar-nav li a{
  background-color: transparent;
  border-bottom: 5px solid transparent;
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin-right: 10px;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navbar .navbar-nav .active a{
  border-color: #F4F4F8;
}
#navbar .navbar-nav li a:hover{
  border-color: #F4F4F8;
  color: #F4F4F8;
}
.login-btn{
  background-color: #FE4A49;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  float: right;
  margin: 21px 0;
  letter-spacing: 1px;
  padding: 9px 50px;
  text-transform: uppercase;
}
#navbar .welcome-user{
  color: #fff;
  float: right;
  font-size: 18px;
  margin: 14px 0 0;
}
.welcome-user{
  color: #fff;
}
.welcome-user button{
  background-color: transparent;
  border: none;
}
.welcome-user button,
.welcome-user button.btn:hover{
  background-color: transparent;
  border: none;
}
.navbar-fixed-top .welcome-user .dropdown-toggle p{
  margin-top: 10px;
}
.welcome-user p,
.welcome-user span{
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 0px;
}
.welcome-user span{
  margin-left: 10px;
  margin-top: -5px;
}
.welcome-user .dropdown-menu{
  background-color: #333;
  border-radius: 0px;
  right: 0;
  left: initial;
  border: none;
  border-top: 3px solid #fff;
  padding: 10px 20px;
  font-size: 18px;
}
/*----- End -----*/

/*----- Modal -----*/
.modal{
  margin-top: 10%;
}
.modal-content{
  margin: auto;
  width: 80%;
}
.modal-content .modal-body{
  padding: 40px;
}
.modal-content .modal-body .btn{
  background-color: #ed1c24;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100%;
}
/*----- End -----*/

/*----- Admin Navigation Bar (Top) -----*/
.navbar-top{
  padding: 0 15px;
}
.navbar-top > li{
  display: inline-block;
  float: left;
}
.navbar-top > li > a{
  color: #ddd;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-top > li > a:hover,
.navbar-top > li > a:focus,
.navbar-top > .open > a,
.navbar-top > .open > a:hover,
.navbar-top > .open > a:focus {
  color: #fff;
  background-color: #000;
}
.navbar-top > .open > .dropdown-menu{
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  float: left;
  margin-top: 0;
  position: absolute;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-top > .open > .dropdown-menu > li > a{
  white-space: normal;
}
.navbar-top .user-admin{
  float: right;
}
.navbar-top .user-admin a span{
  margin-right: 5px;
}
/*----- End -----*/

/*----- Admin Navigation Bar (Left) -----*/
.navbar-admin{
  background-color: #222;
  border-color: #080808;
  box-shadow: none;
}
.navbar-left > li > ul{
  padding: 0;
}
.navbar-left > li > ul > li > a {
  color: #999;
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
}
.navbar-left > li > ul > li > a:hover{
  color: #fff;
}
.navbar-left .active a{
  border-left: 5px solid #6200EA;
}
.navbar-left li a span{
  margin-right: 5px;
}
/*----- End -----*/

.footer-admin{
  padding-left: 225px;
}

/*----- Admin Dashboarad -----*/

/*----- End -----*/
#homepage{
  margin-bottom: 50px;
}
#create_new_project,
#categories_list,
#category_projects,
#project,
#projects_list,
#user_profile{
  margin-bottom: 50px;
  padding-top: 100px;
}

/*----- Admin Color Panel -----*/
.huge {
    font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
/*----- End -----*/

/* Flot Chart Containers */
.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}
/*----- End -----*/

/*----- Footer -----*/
footer{
  background-color: #333;
  padding: 20px 10px;
}
.footer-copyright p,
.footer-links p,
.footer-links a{
  color: #fff;
  line-height: normal;
  margin-bottom: 0px;
}
.footer-links a:hover{
  text-decoration: none;
}
.footer-links{
  text-align: right;
}
/*----- End -----*/

/*----- Home page -----*/
.home-bar{
  background-color: #46237A;
  height: 50px;
}
.home-bar .container{
  height: 50px;
  padding: 7px;
}
.home-bar img{
  height: 100%;
  margin-left: 10%;
  width: auto;
}
.home-bar .user-wrapper{
  float: right;
}
.home-bar .login-btn{
  background-color: #E6E6EA;
  color: #46237A;
  margin: 2px 0;
  padding: 6px 40px;
}
#homepage .navbar{
  border-radius: 0;
}
#homepage .navbar-nav li a{
  border-bottom: 4px solid transparent;
  padding-top: 15px;
  padding-bottom: 11px;
}
#homepage .navbar .navbar-brand{
  height: 50px;
  margin-right: 40px;
  padding: 7px;
}
#homepage .btn.login-btn{
  margin: 6px 0;
}
.home-header{
  background-color: #000;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/home-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 0px;
  padding: 100px 0;
}
.home-header.jumbotron h1{
  color: #fff;
  font-size: 40px;
  padding-right: 20%;
}
.home-header img{
  height: 60px;
  width: auto;
}
.home-header .btn{
  background-color: #FE4A49;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  padding: 9px 60px;
}
.home-header .btn:hover{
  background-color: #F44336;
  border: none;
}
.content-header{
  font-size: 32px;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
}
.content-header:after{
  content: '';
  position: absolute;
  background-color: #FE4A49;
  bottom: 0px;
  height: 5px;
  left: 0px;
  width: 60px;
}
.home-new-project .col-md-8{
  padding-right: 5px;
}
.home-new-project .col-md-4{
  padding-left: 0px;
}
.home-new-project a{
  display: block;
}
.jumbotron.project-wrapper{
  background-color: #666;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  position: relative;
  width: auto;
}
.primary-project-wrapper{
  height: 395px;
}
.secondary-project-wrapper{
  height: 195px;
}
.secondary-project-wrapper:first-child{
  margin-bottom: 5px;
}
.project-wrapper .project-content h3{
  color: #fff;
  font-size: 24px;
  line-height: 34px;
}
.project-wrapper .project-content p{
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
.project-wrapper .project-content{
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.primary-project-wrapper .project-content .project-title{
  background-color: rgba(70, 35, 122, 0.95);
  height: 47px;
  line-height: 32px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 30px 8px;
}
.primary-project-wrapper .project-content .project-desc{
  background-color: rgba(0,0,0,0.80);
  height: 65px;
  margin-bottom: 0px;
  overflow: hidden;
  padding: 10px 30px 0px;
  text-overflow: ellipsis;
}
.secondary-project-wrapper .project-content .project-title{
  background-color: rgba(70, 35, 122, 0.95);
  font-size: 18px;
  height: 47px;
  line-height: 30px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  padding: 10px 20px 8px;
}
.secondary-project-wrapper .project-content .project-desc{
  background-color: rgba(0,0,0,0.80);
  font-size: 14px;
  height: 60px;
  margin-bottom: 0px;
  line-height: 23px;
  overflow: hidden;
  padding: 10px 20px 0px;
  text-overflow: ellipsis;
}
.project-desc img{
  width: 100%;
}
.navbar-padding{
  padding-top: 70px;
}
/*----- End -----*/

/*----- Search form -----*/
.search-form .form-group {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  float: right !important;
  height: 32px;
  margin: 9px 0;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
}
.search-form .form-group input.form-control {
  background: transparent;
  border: 0 none;
  box-shadow: none;
  display:block;
  padding-right: 20px;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  border-radius: 25px;
  width: 25%;
}
.search-form .form-group span.form-control-feedback {
  color: #3596e0;
  display: block;
  font-size: 14px;
  height: 34px;
  left: initial;
  line-height: 34px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: -1px;
  width: 34px;
  z-index: 2;
}
/*----- End -----*/


/*----- Projects List Page -----*/
.user-profile{
  text-align: center;
}
.user-profile img{
  margin: auto;
  width: 80%;
}
.user-profile .btn,
.btn-create-project{
  width: 100%;
}
.projects-list{
  border-left: 1px solid #eee;
  padding-bottom: 50px;
}
.project-card-banner img{
  width: 100%;
}
.project-card{
  color: #333;
  display: block;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 3px #aaa;
  margin-bottom: 30px;
  position: relative;
}
.project-card .project-card-wrapper{
  padding: 0 30px 20px;
}
.project-card:hover,
.project-card:focus{
  text-decoration: none;
}
.project-card .project-excerpt{
  color: #666;
  font-size: 16px;
  line-height: 24px;
}
.project-card-promoting button,
.project-card .project-card-promoting button{
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 20px;
  margin-right: 5px;
  color: #666;
  font-size: 14px;
  vertical-align: top;
}
.project-card-promoting button .glyphicon,
.project-card .project-card-promoting button .glyphicon{
  top: 2px;
}
.project-card-promoting button span,
.project-card .project-card-promoting button span{
  margin-left: 5px;
}
.project-card-promoting a,
.project-card .project-card-promoting a{
  font-size: 40px;
  display: inline-block;
  vertical-align: top;
}
.project-card-promoting a span,
.project-card .project-card-promoting a span{
  font-size: 43px;
  display: inline-block;
  vertical-align: top;
  margin-left: 0px;
  margin-top: -3px;
}
.project-card-promoting .fa-facebook-square{
  color: #3b5998;
}
.project-card-promoting .fa-twitter-square{
  color: #59adeb;
}
.project-card-promoting .fa-linkedin-square{
  color: #0077b5;
}
.project-card-promoting .fa-google-plus-square{
  color: #d34836;
}
/*----- End -----*/

/*----- Categories List Page -----*/
.category-list .col-md-4,
.category-list .col-sm-3{
  padding: 0 5px;
}
.category-btn{
  margin-bottom: 10px;
  padding: 50px 15px;
  width: 100%;
}
.category-btn h3{
  margin-bottom: 0px;
  margin-top: 10px;
}
.category-btn .glyphicon{
  font-size: 48px;
}
/*----- End -----*/

/*----- Create New Project Page -----*/
.ta-html,
.ta-toolbar{
  display: block;
  width: 100%;
  margin-left: 0px;
  padding: 5px 12px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #eee;
  background-image: none;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ta-html{
  border-bottom: 1px;
  background-color: #fff;
}
.ta-editor{
  margin-top: -10px;
  overflow-y: visible;
}
.ta-editor img{
  width: 100%;
}
.ta-editor:focus{
  outline: none;
}
.project-desc .ta-insert-video{
  width: 650px;
  height: 366px;
}
.edit-project-live,
.new-project-live{
  border-left: 1px solid #ccc;
  padding: 0px 20px;
}
.edit-project-live img,
.new-project-live img{
  width: 100%;
}
/* ----- Single Project Page ----- */
#project .col-md-8{
  border-left: 1px solid #eee;
  padding-bottom: 50px;
}
#project .founder-avatar,
#project .founder-details{
  text-align: center;
}
#project .founder-avatar img{
  width: 50%;
}
#project .project-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  height: 300px;
}

/* ----- Side Navigation ----- */

/*----- Admin Navigation -----*/
.navbar-admin.navbar .navbar-brand{
  height: 50px;
  margin: 0px 20px;
  padding: 8px 5px;
}
.navbar-admin .navbar-left{
  background-color: #333;
}
.admin-dashboard{
  padding-top: 30px;
}

.login-form{
  width: 30%;
  margin: 150px auto;
  border: 1px solid #aaa;
  padding: 50px;
}
@media(min-width:768px) {
  .navbar-left {
    background-color: #222;
    border: none;
    border-radius: 0;
    bottom: 0;
    margin-left: -225px;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 225px;
    padding-bottom: 40px;
    position: fixed;
    top: 50px;
    width: 225px;
  }
  .navbar-left > li > a {
    width: 225px;
  }
  .navbar-left li a:hover,
  .navbar-left li a:focus {
    background-color: #000 !important;
    outline: none;
  }
  .admin-dashboard{
    padding-left: 225px;
  }
}




